/*
    FredGem
    Theme: Default
    Author: David Collins-Cubitt
*/

div.menu {
    text-align: center;
    color: #ffffff;
    background-color: #000000;
    width: 100%;
    padding: 0 10px;
    position: relative;
    margin: 0;
    top: 0;
    left: 0;
    text-decoration: none;
}

a {
    color: #4d4d4d;
}

a:hover {
    color: hotpink;
}

a.menu {
    padding: 10px;
    color: inherit;
    font-family: helvetica, arial, sans;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

a.menu:hover {
    color: #ffffff;
    background-color: #4d4d4d;
}

h1, h2, h3, h4, h5 {
    color: #000000;
    background-color: #ffffff;
    font-family: helvetica, arial, sans;}

body {
    color: #595959;
    font-size: 11pt;
    font-family: helvetica, arial, sans ;
    margin: auto;
    max-width: 600px;
}

div.footer {
    text-align: center;
    font-size: 9pt;
}